.logo-text {
  font-size: 2rem;
  font-weight: 700;
}

.sub-title-text {
  color: #da2f04;
  font-weight: 500;
  font-size: 1.2rem;
}

.title-text {
  color: #33670a;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  max-width: 315px;
}

.main-buttons {
  width: 50%;
}

.pizza-day {
  font-size: 40px;
  line-height: auto;
  font-weight: 400;
  color: #da2f04;
  text-align: center;
  justify-content: center;
  align-items: center !important;
  display: flex;
}

.footer {
  padding: 80px;
}
