.buttons-style {
  border: 1px solid #da2f04;
  background-color: transparent;
  color: #da2f04;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
