.orderGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.colBorder {
  border-right: 1px solid #d6d6d6; /* light gray like screenshot */
  padding-right: 24px;
}

.pizza-size .title {
  font-weight: 600;
  margin-bottom: 12px;
  display: block;
}

.size-options {
  display: flex;
  gap: 20px;
}

/* hide radio buttons */
.size-options input[type="radio"] {
  display: none;
}

/* default card style */
.size-options label {
  width: 110px;
  height: 110px;
  border: 2px solid #bcbcbc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  color: #9e9e9e;
  background-color: #d9d9d9;
  transition: all 0.2s ease;
}

/* selected state */
.size-options input[type="radio"]:checked + label {
  background-color: #fff;
  border-color: #8c8c8c;
  color: #000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cart {
  border: 1px solid #da2f04;
  background-color: transparent;
  color: #da2f04;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
